<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanjeev Ganji</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico">
  </head>
  <body style="background-color:white;">
    <div class="body">
      <div class="top" style="border-radius: 100px;">
<br>


        <table style="width:100%;">
          <tr>
            <th style="width:33.33%;">
              <h1>Hey <br> There!</h1>
              <h1>I'm</h1>
              <h1>Sanjeev <br> Ganji</h1>
            </th>
            <th style="width:33.33%;">
              <img src="potrati.png" style="width:25vw">

            </th>
            <th style="width:33.3%">
              <h1>
              Coder,<br>
              Designer <br>
              and <br>
              Gaming <br> Enthusiast.</h1>
            </th>
          </tr>
        </table>
<br>
      </div>
      <br>


      <div class="car">


        <img src="car.jpg" alt="car image" align=right style="max-height: 15vw;">
          <img src="scrrr.gif" alt="scroll image" align=left style="max-height: 12vw; position: absolute;">






      </div>


      <div class="car2">
        <img src="car2.jpg" alt="car image" align=left style="max-height: 15vw;">


      </div>
      <div class="fasttext">



      <h2 align=center>I like doing things fast! So I have more time to do more things.</h2>
    </div>
<hr>


      <div class="skillsz">

        <br>
        <br>
        <h3 style="position: absolute">These are my Skills.</h3>
        <div class="skill-row" style="border-radius: 20px;">
          <br>
<img class="skilimag" src="c.png" alt="">
          <h4>Competitive Programming</h4>

        </div>
        <br>

        <div class="skill-row" style="border-radius: 20px;">
          <br>
<img class="skilimag" src="html.png" alt="">

          <h4>Web Development</h4>
        </div>
        <br>
        <div class="skill-row" style="border-radius: 20px;">
          <br>
<img class="skilimag" src="ps.png" alt="">

          <h4>Graphic Design</h4>
        </div>
        <br>
        <br>

      </div>
      <hr>

      <div class="projects">
        <br>
        <h2 style="top: 10px; left: 20vw; margin-bottom: 55px;">Take a look at my <br> Projects and Resume.</h2>
        <span class="btn2">
       <button class="butn2"><a href="https://www.youtube.com/">
         Projects
       </a></button>
   </span>
   <br>
   <br><br>
   <span class="btn2">
  <button class="butn2"><a2 href="https://www.youtube.com/">
    Resume
  </a2></button>

</span>

      </div>
      <hr>



      <div class="cont">
        <br><br>
        <h5>I would Love for you to Contact Me.</h5>
        <span class="btn">
       <button class="butn"><a href="https://www.linkedin.com/in/ganji-sanjeev-raj-04223021a/">
         LinkedIn
       </a></button>
       <span class="btn">
      <button class="butn"><a href="https://github.com/sanjeevganji">
        Github
      </a></button>
      <span class="btn">
     <button class="butn"><a href="https://www.facebook.com/sanjeevraj.ganji/">
       Facebook
     </a></button>
     <span class="btn">
    <button class="butn"><a href="https://www.instagram.com/_sanjeev._.ganji_/">
      Instagram
    </a></button>

     </span>

      </div>
    </div>


    <!-- <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
      <a class="footer-link" href="https://twitter.com/">Twitter</a>
      <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
      <p>© Name Surname.</p>
    </div> -->




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      $(window).scroll(function(){
              var scroll = $(window).scrollTop();
              $(".top").css({

                  width: (100-scroll/4) + "%"
                  // background-size: 100%;
              })
          })

          $(window).scroll(function(){
                  var scroll = $(window).scrollTop();
                  $(".car").css({

                      right: scroll
                      // background-size: 100%;
                  })
              })
              $(window).scroll(function(){
                      var scroll = $(window).scrollTop();
                      $(".car2").css({

                        left: scroll
                          // padding-left: 100%;
                      })
                  })




    </script>



  </body>
</html>
